In [1]:
import numpy as np
import pandas as pd

In [2]:
#import all data from the folder I've made (generated from TS.py)

import glob
data=[]
path = "D:/TradeMe2/*.csv"
for fname in glob.glob(path):
    data.append(pd.read_csv(fname))

In [57]:
SuperData=pd.concat(data)
SuperData.head(5)

,Unnamed: 0,Location,Item_Name,BidPrice,ID,BuyNowPricee
0,1,Auckland,"ZTE F328 ""Top of Line Basic Compact Model)",$38.00,"1330538382""",$38.00
1,2,Auckland,iPhone 3G,$10.00,"1334427418""",BidOnly
2,3,Otago,Sony Xperia M2,$249.00,"1330538751""",$270.00
3,4,Auckland,iPhone 3GS,$10.00,"1334428808""",BidOnly
4,6,Auckland,Samsung Galaxy S5---Like New Condition,BuyNowOnly,"1330548139""",$279.00

In [5]:
#basic search: not sufficiently accurate.

#SuperData.loc[SuperData['Location'].str.contains('Auckland')]

In [58]:
def search(item,data): # probably by index...
    df = data.loc[(data.ix[:,'ID'] == item)]
    return(df)
search('1329808163"',SuperData).head(5) #top 5 items from this function.

    Unnamed: 0  Location Item_Name    BidPrice           ID BuyNowPricee
50          54  Auckland  iPhone 6  BuyNowOnly  1329808163"      $549.00
51          53  Auckland  iPhone 6  BuyNowOnly  1329808163"      $549.00
34          36  Auckland  iPhone 6  BuyNowOnly  1329808163"      $549.00
33          35  Auckland  iPhone 6  BuyNowOnly  1329808163"      $549.00
22          24  Auckland  iPhone 6  BuyNowOnly  1329808163"      $549.00

In [41]:
IDS=SuperData['ID'].tolist()
IDSU=np.unique(IDS)

In [24]:
ULTRA=[] #reference list. #Is to show that I can indeed subset this data

for i in range(len(IDSU)):
    ULTRA.append(search(IDSU[i]))

In [55]:
#Pretty useful function: you search for some string, eg 'iPhone' 
#returns a list of lists, each item(list) within the parent list is
#some unique item and its activity over time.

#So, I search for 'iPhone'- this returns all listing with the phrase 'iphone'
#then, the data is subsetted to these listings only. After this, the
#'search' function is applied to the subsetted data for all unique IDS 
#and hence items themselves.

def name(item): 
    dfbasic = SuperData.loc[SuperData['Item_Name'].str.contains(item)]
    IDS=dfbasic['ID'].tolist()
    IDS2=np.unique(IDS)
    
    lister=[]
    
    for i in range(len(IDS2)):
        lister.append(search(IDS2[i], dfbasic))
    return(lister)

In [56]:
name('iPhone 6')[5].head(5) #top 5 results from the 5th unique listing of 'iPhone'.

,Unnamed: 0,Location,Item_Name,BidPrice,ID,BuyNowPricee
59,126,Auckland,iPhone 6s plus 64GB,BuyNowOnly,"1329811520""",$899.00
63,131,Auckland,iPhone 6s plus 64GB,BuyNowOnly,"1329811520""",$899.00
59,126,Auckland,iPhone 6s plus 64GB,BuyNowOnly,"1329811520""",$899.00
44,48,Auckland,iPhone 6s plus 64GB,BuyNowOnly,"1329811520""",$899.00
49,53,Auckland,iPhone 6s plus 64GB,BuyNowOnly,"1329811520""",$899.00